# Building a Keras Model

In [1]:
import numpy as np
import pandas as pd

In [2]:
hourly_wages_df = pd.read_csv('data/hourly_wages.csv')
hourly_wages_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

Target Variable: "wage_per_hour"

1. Identifying the number of binary predictor variables.

There are 6 binary indicator variables. 
- union
- female
- marr
- south
- manufacturing
- construction

In [5]:
hourly_wages_df.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Importing Keras Libraries

In [6]:
from tensorflow.keras.layers import Dense

from tensorflow.keras.models import Sequential

In [10]:
# Converting the training data and target variable into a numpy array
y = hourly_wages_df['wage_per_hour']
X = hourly_wages_df.drop(columns = "wage_per_hour")

predictors = np.array(X)
target = np.array(y)
print(predictors.shape)
n_cols = predictors.shape[1]

# print(predictors)

# print(target)

(534, 9)

## 1. Specify Model Architecture

- Initialize the model type.
- Add the hidden layers -> no. of nodes in the hidden layer -> type of activation function
- Define the output layer structure

In [11]:
# initialize a model

model = Sequential()

## adding layers to the model
model.add(Dense(50, activation = "relu",input_shape = (n_cols,)))

## adding second hidden layer
model.add(Dense(32, activation="relu"))

## final output layer
model.add(Dense(1))

/opt/homebrew/anaconda3/lib/python3.10/site-packages/keras/src/layers/core/dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

## 2. Compile the Model

- mention the optimization algorithm.
- choose the loss function.

In [12]:
# compilation step

model.compile(optimizer="adam", loss= "mean_squared_error")

print("loss function:" , model.loss)

loss function: mean_squared_error

## 3. Fit the model on training data

- To train the model and optimize the weights.

In [13]:
model.fit(predictors, target)

17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 743us/step - loss: 197.8471